<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="style.css">

  <title>Spotify App</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
          <h1>Search for Songs</h1>
          <hr>
          <form id="spotify-search">
            <div class="form-group">
              <input class="form-control" id="track" placeholder="Song Title" autofocus>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-danger" value="Search" id="submit">
            <!-- </div> -->
            <!-- reset button -->
            <!-- <div class="form-group">  -->
              <a href="index.html">
              <input type="button" class="btn btn-success" value="Start over" id="reset">
              </a>
            </div>
          </form>
          <hr>
        </div>
        <div id="loading"><img src='https://github.com/sf-wdi-19-20/modules/blob/master/w3_d1_2_apis_continued/spotify_app/loading.gif?raw=true' style="display: none"></div>
        <div id="results"></div>
      </div>
    </div>
  

  <!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- underscore -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="script.js"></script>

  <!-- underscore template -->
  <script type="text/template" id="spotify-template">
    <div class="music">
      <p>
        <div class="col-lg-10">
          <img src='<%= image %>'>
        </div> 
        <div class="col-lg-10" id="text">
          <%= track %> - <%= artist %>
        </div>
        <div>
          <audio src='<%= audio %>' controls="controls" id="audio">
        </div>     
      </p>
      <br>
      <hr>
    </div>
  </script>
</div>

</body>
</html>