img {
	max-height: 250px;
	max-width: 250px;
	margin-top: 5px;
	margin-bottom: -50px;
}
body{
	background-color:black;
	/*margin-left: 100px;
	margin-right: 100px;*/
}
#header{
	padding-left: 150px;
	padding-right: 150px;
}
#text{
	color:white;
	text-align: right;
	font-size: 16px;
}
#audio{
	float: right;
}
.text-center{
color:white;
}
#results{
	padding: 100px;
}
